* {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  padding: 70px;
  border: 45px;
  margin: 15px;
}

.subjectHeader {
  color: rgb(193, 62, 110);
  font-size: 1.5em;
}

thead {
  font-weight: bold;
  color: rgb(78, 120, 183);
}

table, th, tfoot, tbody, td {
  border: 2px solid grey;
  align-content: center;
  font-size: 18px;
  text-align: center;
}

table {
  width:75%;
}

ul {
  list-style-type: square;
}
a {
  background-color: #f44336;
  color: white;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:link {
  text-decoration: none;
}
a:hover {
  background-color: rgb(83, 159, 214);
  text-decoration: none;
}

blockquote {
  background-color: rgb(61, 108, 142);
  color: white;
}


#teamRoster > li > img{
  position: absolute;
  z-index: -1;
  padding-top: 70px;
  width: 10%;
  height: 10%;
  opacity: .4;
}

#checkbox-grid {
  list-style: none;
}
